<%
 header_params = {
   title: 'vue3.js-template',
   description: 'このページはvue3.js制作のテンプレート用ページです'
 };
%>
<%- include('../_layout/header', {params:header_params}) -%>
<div class="container">
  <div id="main-content" v-cloak>
  </div>
</div>
<%- include('../_layout/footer') -%>